.widget{
    background: $light-blue;
    margin-bottom: $xl-size;
}


//widget header
.widget-header{
    background: $blue;
    color: $off-white;
    display: flex;
    justify-content: space-between;
    padding: $m-size;
    
}

.widget-header--title{
    margin: 0;

}
